li {
    display: inline;
    float: right;
    padding: 4px;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    
  }
  a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    position: relative;
    bottom: 15px;
    right: 10px;
  }

nav{
    width: 100%;
    background-color: #040D12;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
body{
    margin:0;
    padding: 0;

}
#first{
    height:450px;
    width: 100%;
    background-image: url(wallpaper2you_160711.jpg);
    

}
footer{
    height: 50px;
    width: 100%;
    background-color:#040D12;
}
h1{
    margin-top: 180px;
    margin-left:80px;
    color:whitesmoke;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#span-2{
    color: green;
}
#span-1{
    color:whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}